
<div class="row set-jobs" >
<div class="col-md-10 col-md-offset-1 job-content">
  <div class="main-box">

  <div class="col-md-9 col-xs-9 job-box row">


  <h1> All Jobs</h1>
 <div class="dropdown clearfix pull-right">

  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
  </button>
  <br><br>
  <li>
    <% if user_signed_in? && current_user.admin? %>
     <%= link_to(content_tag(:i, " Back to Admin", class: "fa fa-reply-all"), admin_jobs_path) %>
    <% end %>
  </li>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
    <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
    <li><%= link_to("按照发表时间排序", jobs_path ) %></li>
  </ul>

</div>
<tr></tr>


<!--% if user_signed_in? && current_user.admin? %-->
  <!--%= link_to("Add a job", new_job_path, :class => "btn btn-default") %-->
<!--% end %-->


<table class="table table-boldered table-striped custab" >
  <thead>
    <tr>
      <td>合作项目</td>
      <td>社群</td>
      <td>
        <%= link_to jobs_path(:order => "by_lower_bound"), class: "btn btn-xs btn-default" do%>
                          上限<i class="fa fa-caret-up"></i><% end %>
                          <%= link_to jobs_path(:order => "by_upper_bound"), class: "btn btn-xs btn-default" do%>
                          下限<i class="fa fa-caret-down"></i><% end %>
      </td>

      <td>公司</td>
      <td>城市</td>
      <td>
        <%= link_to jobs_path, class: "btn btn-xs btn-default" do%>
        创建时间<i class="fa fa-caret-down"></i><% end %>
      </td>
      <td>
        <% if user_signed_in? && current_user.admin? %>
        管理
        <% end %>
      </td>
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to(job.title, job_path(job)) %></td>
    <td><%= job.category %></td>
    <td>
      <span class="badge badge-info">
        <span class="fa fa-rmb"></span>
        <%= job.wage_lower_bound%>
         ~
        <%= job.wage_upper_bound%>
        </span>
    </td>
    <td><%= job.company %></td>
    <td><%= job.city %></td>
    <td><%= job.created_at %></td>
    <td><%= link_to("申请合作", new_job_resume_path(job), class: "btn btn-xs btn-success") %></td>
    <td>
     <% if current_user && current_user == job.user %>
      <%= link_to("Edit", edit_job_path(job)) %> |
      <%= link_to("Delete", job_path(job), :method => :delete, :data=> { :confirm => "Are you sure?"}) %>
     <% end %>
    </td>
   </tr>
   <% end %>
  </tbody>
 </table>

    <div class="text-center">
       <%= will_paginate @jobs %>
    </div>
</div>

</div>
</div>
<div>
